<!doctype html>
<html>
    <head>
        <title>Home</title>
    </head>
    <body>
        <nav>
            <a href="{{ url_for('home') }}">Home</a> |
            {% if 'user_id' not in session %}
                <a href="{{ url_for('login') }}">Login</a> |
                <a href="{{ url_for('register') }}">Register</a>
            {% else %}
                <a href="{{ url_for('admin') }}">Admin</a> |
                <a href="{{ url_for('logout') }}">Logout</a>
            {% endif %}
        </nav>
        <h1>Blog Posts</h1>
        {% for post in posts %}
            <h2><a href="{{ url_for('post', post_id=post.id) }}">{{ post.title }}</a></h2>
            <p>{{ post.content }}</p>
        {% endfor %}
    </body>
</html>

